.sans,
.inter {
  font-family: "Inter UI", sans-serif;
}

.sys {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji";
}

.mono {
  font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;
}
