.t100,
.ultralight {
  font-weight: 100;
}

.t200,
.thin {
  font-weight: 200;
}

.t300,
.light {
  font-weight: 300;
}

.t400,
.regular {
  font-weight: 400;
}

.t500,
.medium {
  font-weight: 500;
}

.t600,
.semibold {
  font-weight: 600;
}

.t700,
.bold {
  font-weight: 700;
}

.t800,
.extrabold {
  font-weight: 800;
}

.t900,
.black {
  font-weight: 900;
}
