.text-100,
.ultralight {
  font-weight: 100;
}

.text-200,
.thin {
  font-weight: 200;
}

.text-300,
.light {
  font-weight: 300;
}

.text-400,
.regular {
  font-weight: 400;
}

.text-500,
.medium {
  font-weight: 500;
}

.text-600,
.semibold {
  font-weight: 600;
}

.text-700,
.bold {
  font-weight: 700;
}

.text-800,
.extrabold {
  font-weight: 800;
}

.text-900,
.black {
  font-weight: 900;
}
