.fs8 {
  font-size: 8rem;
}

.fs7 {
  font-size: 7rem;
}

.fs6 {
  font-size: 6rem;
}

.fs5 {
  font-size: 5rem;
}

.fs45 {
  font-size: 4.5rem;
}

.fs4 {
  font-size: 4rem;
}

.fs35 {
  font-size: 3.5rem;
}

.fs3 {
  font-size: 3rem;
}

.fs25 {
  font-size: 2.5rem;
}

.fs2 {
  font-size: 2rem;
}

.fs1 {
  font-size: 1rem;
}
