/*******************************************************************************
  Grid and Layout
*******************************************************************************/

.frame-left {
  max-width: 1024px;
  margin: 0;
  padding: 0;
}

.frame-center {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 auto;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}

// Percentage-of-grid-based col widths
// @each $name, $w in $semantic-cols {
//
//   .#{$name} { width: #{$w} };
//
//   @each $breakpoint, $bp-value in $breakpoints {
//     @media only screen and (min-width:$bp-value) {
//       .#{$name}-#{$breakpoint} { width: #{$w} };
//     }
//   };
// };
//
//
//
// // Percentage-of-12 col widths
// @each $name, $w in $percentage-cols {
//
//   .#{$name}-12 { width: #{$w} };
//
//   @each $breakpoint, $bp-value in $breakpoints {
//     @media only screen and (min-width:$bp-value) {
//       .#{$name}-12-#{$breakpoint} { width: #{$w} };
//     }
//   };
// };

// Order
@for $i from 0 through 12 {
  .order#{$i} {
    order: #{$i};
  }
}
.order-last {
  order: 99999;
}

// Flex
@for $i from 0 through 12 {
  .flex#{$i} {
    flex: #{$i};
  }
}

// Gutter and Slug spacing
// @each $d in (0, 1, 2, 4, 8, 16) {
//   .slug#{$d} > *:not(:last-child)  { margin-bottom:  #{$d}rem; }
//   .gut#{$d} > *:not(:last-child)   { margin-right:   #{$d}rem; }
//
//   @each $breakpoint, $bp-value in $breakpoints {
//     @media only screen and (min-width:$bp-value) {
//
//       .slug#{$d}-#{$breakpoint} > *:not(:last-child) {
//         margin-bottom: #{$d}rem;
//       }
//
//       .gut#{$d}-#{$breakpoint} > *:not(:last-child) {
//         margin-right: #{$d}rem;
//       }
//
//     }
//   };
// }
