// Height - viewHeight
@each $dim in (10, 20, 30, 40, 50, 60, 70, 80, 90, 100) {
  $name: str-replace(#{$dim}, ".");

  .vh#{$name} {
    height: #{$dim}vh;
  }

  @each $bp in $breakpoints {
    $suffix: get($bp, "suffix");
    $rule: get($bp, "rule");

    @media #{$rule} {
      .vh#{$name}-#{$suffix} {
        height: #{$dim}vh;
      }
    }
  }
}

// Height - auto
.h-auto {
  height: auto;
}

@each $bp in $breakpoints {
  $suffix: get($bp, "suffix");
  $rule: get($bp, "rule");

  @media #{$rule} {
    .h-auto-#{$suffix} {
      height: auto;
    }
  }
}

// Height - scale
@each $i, $dim in $scale {
  .h#{$i} {
    height: #{$dim};
  }

  // Responsive Spacing
  @each $bp in $breakpoints {
    $suffix: get($bp, "suffix");
    $rule: get($bp, "rule");

    @media #{$rule} {
      .h#{$i}-#{$suffix} {
        height: #{$dim};
      }
    }
  }
}
