/*******************************************************************************
  Margin
*******************************************************************************/

@each $i, $dim in $scale {
  .m#{$i} {
    margin: #{$dim};
  }
  .mt#{$i} {
    margin-top: #{$dim};
  }
  .mb#{$i} {
    margin-bottom: #{$dim};
  }
  .ml#{$i} {
    margin-left: #{$dim};
  }
  .mr#{$i} {
    margin-right: #{$dim};
  }
  .mv#{$i} {
    margin-top: #{$dim};
    margin-bottom: #{$dim};
  }
  .mh#{$i} {
    margin-left: #{$dim};
    margin-right: #{$dim};
  }
}

@each $i, $dim in $scale {
  // Responsive Margin
  @each $bp in $breakpoints {
    $suffix: get($bp, "suffix");
    $rule: get($bp, "rule");

    @media #{$rule} {
      .m#{$i}-#{$suffix} {
        margin: #{$dim};
      }
      .mt#{$i}-#{$suffix} {
        margin-top: #{$dim};
      }
      .mb#{$i}-#{$suffix} {
        margin-bottom: #{$dim};
      }
      .ml#{$i}-#{$suffix} {
        margin-left: #{$dim};
      }
      .mr#{$i}-#{$suffix} {
        margin-right: #{$dim};
      }
      .mv#{$i}-#{$suffix} {
        margin-top: #{$dim};
        margin-bottom: #{$dim};
      }
      .mh#{$i}-#{$suffix} {
        margin-left: #{$dim};
        margin-right: #{$dim};
      }
    }
  }
}

// margin auto
// .m-auto {
//   margin: auto;
// }
// .mt-auto {
//   margin-top: auto;
// }
// .mb-auto {
//   margin-bottom: auto;
// }
// .mr-auto {
//   margin-right: auto;
// }
// .ml-auto {
//   margin-left: auto;
// }
// .mh-auto {
//   margin-left: auto;
//   margin-right: auto;
// }
// .mv-auto {
//   margin-top: auto;
//   margin-bottom: auto;
// }
//
// @each $bp in $breakpoints {
//   $suffix: get($bp, "suffix");
//   $rule: get($bp, "rule");
//
//   @media #{$rule} {
//     .m-auto-#{$suffix} {
//       margin: auto;
//     }
//     .mt-auto-#{$suffix} {
//       margin-top: auto;
//     }
//     .mb-auto-#{$suffix} {
//       margin-bottom: auto;
//     }
//     .mr-auto-#{$suffix} {
//       margin-right: auto;
//     }
//     .ml-auto-#{$suffix} {
//       margin-left: auto;
//     }
//     .mh-auto-#{$suffix} {
//       margin-left: auto;
//       margin-right: auto;
//     }
//     .mv-auto-#{$suffix} {
//       margin-top: auto;
//       margin-bottom: auto;
//     }
//   }
// }
