/*******************************************************************************
  Padding
*******************************************************************************/

@each $i, $dim in $scale {
  .p#{$i} {
    padding: #{$dim};
  }
  .pt#{$i} {
    padding-top: #{$dim};
  }
  .pb#{$i} {
    padding-bottom: #{$dim};
  }
  .pl#{$i} {
    padding-left: #{$dim};
  }
  .pr#{$i} {
    padding-right: #{$dim};
  }
  .pv#{$i} {
    padding-top: #{$dim};
    padding-bottom: #{$dim};
  }
  .ph#{$i} {
    padding-left: #{$dim};
    padding-right: #{$dim};
  }
}

// Responsive padding
@each $i, $dim in $scale {
  @each $bp in $breakpoints {
    $suffix: get($bp, "suffix");
    $rule: get($bp, "rule");

    @media #{$rule} {
      .p#{$i}-#{$suffix} {
        padding: #{$dim};
      }
      .pt#{$i}-#{$suffix} {
        padding-top: #{$dim};
      }
      .pb#{$i}-#{$suffix} {
        padding-bottom: #{$dim};
      }
      .pl#{$i}-#{$suffix} {
        padding-left: #{$dim};
      }
      .pr#{$i}-#{$suffix} {
        padding-right: #{$dim};
      }
      .pv#{$i}-#{$suffix} {
        padding-top: #{$dim};
        padding-bottom: #{$dim};
      }
      .ph#{$i}-#{$suffix} {
        padding-left: #{$dim};
        padding-right: #{$dim};
      }
    }
  }
}

// padding auto
// .p-auto {
//   padding: auto;
// }
// .pt-auto {
//   padding-top: auto;
// }
// .pb-auto {
//   padding-bottom: auto;
// }
// .pr-auto {
//   padding-right: auto;
// }
// .pl-auto {
//   padding-left: auto;
// }
// .ph-auto {
//   padding-left: auto;
//   padding-right: auto;
// }
// .pv-auto {
//   padding-top: auto;
//   padding-bottom: auto;
// }
//
// @each $bp in $breakpoints {
//   $suffix: get($bp, "suffix");
//   $rule: get($bp, "rule");
//
//   @media #{$rule} {
//     .p-auto-#{$suffix} {
//       padding: auto;
//     }
//     .pt-auto-#{$suffix} {
//       padding-top: auto;
//     }
//     .pb-auto-#{$suffix} {
//       padding-bottom: auto;
//     }
//     .pr-auto-#{$suffix} {
//       padding-right: auto;
//     }
//     .pl-auto-#{$suffix} {
//       padding-left: auto;
//     }
//     .ph-auto-#{$suffix} {
//       padding-left: auto;
//       padding-right: auto;
//     }
//     .pv-auto-#{$suffix} {
//       padding-top: auto;
//       padding-bottom: auto;
//     }
//   }
// }
