/*******************************************************************************
  Position
*******************************************************************************/

// Position
.absolute,
.abs {
  position: absolute;
}
.relative,
.rel {
  position: relative;
}
.fixed,
.fix {
  position: fixed;
}
.sticky {
  position: sticky;
}
.static {
  position: static;
}

@each $bp in $breakpoints {
  $suffix: get($bp, "suffix");
  $rule: get($bp, "rule");

  @media #{$rule} {
    .absolute-#{$suffix},
    .abs-#{$suffix} {
      position: absolute;
    }
    .relative-#{$suffix},
    .rel-#{$suffix} {
      position: relative;
    }
    .fixed-#{$suffix},
    .fix-#{$suffix} {
      position: fixed;
    }
    .sticky-#{$suffix} {
      position: sticky;
    }
    .static-#{$suffix} {
      position: static;
    }
  }
}

// Top, Right, Bottom, Left
@each $i, $dim in $scale {
  $name: str-replace(#{$dim}, "px");

  .top#{$i} {
    top: #{$dim};
  }
  .right#{$i} {
    right: #{$dim};
  }
  .bottom#{$i} {
    bottom: #{$dim};
  }
  .left#{$i} {
    left: #{$dim};
  }

  // Responsive Margin
  @each $bp in $breakpoints {
    $suffix: get($bp, "suffix");
    $rule: get($bp, "rule");

    @media #{$rule} {
      .top#{$name}-#{$suffix} {
        top: #{$dim};
      }
      .right#{$name}-#{$suffix} {
        right: #{$dim};
      }
      .bottom#{$name}-#{$suffix} {
        bottom: #{$dim};
      }
      .left#{$name}-#{$suffix} {
        left: #{$dim};
      }
    }
  }
}
