@each $dim in $scale {
  $name: str-replace(#{$dim}, ".");

  .s#{$name} {
    width: #{$dim}rem;
    height: #{$dim}rem;
  }

  // Responsive Spacing
  @each $bp in $breakpoints {
    $suffix: get($bp, "suffix");
    $rule: get($bp, "rule");

    @media #{$rule} {
      .s#{$name}-#{$suffix} {
        width: #{$dim}rem;
        height: #{$dim}rem;
      }
    }
  }
}
