@each $i, $dim in $scale {
  .s#{$i} {
    width: #{$dim};
    height: #{$dim};
  }

  // Responsive Spacing
  @each $bp in $breakpoints {
    $suffix: get($bp, "suffix");
    $rule: get($bp, "rule");

    @media #{$rule} {
      .s#{$i}-#{$suffix} {
        width: #{$dim};
        height: #{$dim};
      }
    }
  }
}
