.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}
.t-justified {
  text-align: justify;
}
.t-right {
  text-align: right;
}

@each $bp in $breakpoints {
  $suffix: get($bp, "suffix");
  $rule: get($bp, "rule");

  @media #{$rule} {
    .t-left-#{$suffix} {
      text-align: left;
    }
    .t-center-#{$suffix} {
      text-align: center;
    }
    .t-justified-#{$suffix} {
      text-align: justify;
    }
    .t-right-#{$suffix} {
      text-align: right;
    }
  }
}
