.H1L,
.t1 {
  font-size: 16rem;
  line-height: 20rem;
  font-weight: 700;
}

.H1,
.t2 {
  font-size: 12rem;
  line-height: 16rem;
  font-weight: 700;
}

.H2,
.t3 {
  font-size: 8rem;
  line-height: 12rem;
  font-weight: 700;
}

.H3,
.t4 {
  font-size: 6rem;
  line-height: 8rem;
  font-weight: 700;
}

.H4,
.t5 {
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 700;
}

.P,
.t6 {
  font-size: 5rem;
  line-height: 8rem;
  font-weight: 400;
}

.Ps, /* small paragraph */
.t7 {
  font-size: 4rem;
  line-height: 6rem;
  font-weight: 400;
}

.label,
.t8,
.caption {
  font-size: 3rem;
  line-height: 6rem;
  font-weight: 400;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

// Measure
// “Anything from 45 to 75 characters is widely regarded as a satisfactory length
// of line for a single-column page… the 66-character line (counting both letters
// and spaces) is widely regarded as ideal. For multiple-column work, a better
// average is 40-50 characters.”

.measure-narrow {
  max-width: 80rem;
}
.measure {
  max-width: 120rem;
}
.measure-wide {
  max-width: 136rem;
}

@each $bp in $breakpoints {
  $suffix: get($bp, "suffix");
  $rule: get($bp, "rule");

  @media #{$rule} {
    .H1L-#{$suffix},
    .t1-#{$suffix} {
      font-size: 16rem;
      line-height: 20rem;
    }

    .H1#{$suffix},
    .t2-#{$suffix} {
      font-size: 8rem;
      line-height: 12rem;
    }

    .H2#{$suffix},
    .t3-#{$suffix} {
      font-size: 6rem;
      line-height: 8rem;
    }

    .H3#{$suffix},
    .t4-#{$suffix} {
      font-size: 5rem;
      line-height: 6rem;
    }

    .H4#{$suffix},
    .t5-#{$suffix} {
      font-size: 4rem;
      line-height: 6rem;
    }

    .P#{$suffix},
    .t6-#{$suffix} {
      font-size: 4rem;
      line-height: 6rem;
    }

    .label-#{$suffix},
    .t7-#{$suffix},
    .caption-#{$suffix} {
      font-size: 3rem;
      line-height: 6rem;
    }

    .truncate-#{$suffix} {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .indent-#{$suffix} {
      text-indent: 1em;
      margin-top: 0;
      margin-bottom: 0;
    }

    .measure-narrow-#{$suffix} {
      max-width: 80rem;
    }
    .measure-#{$suffix} {
      max-width: 120rem;
    }
    .measure-wide-#{$suffix} {
      max-width: 136rem;
    }
  }
}

.markdown[class=".H1"],
.markdown[class=".t2"] {
  padding: 12rem 0;
}

.markdown[class=".H2"],
.markdown[class=".t3"] {
  padding: 8rem 0;
}

.markdown[class=".H3"],
.markdown[class=".t4"] {
  padding: 6rem 0;
}

.markdown[class=".H4"],
.markdown[class=".t5"] {
  padding: 5rem 0;
}

.markdown[class=".P"],
.markdown[class=".t6"] {
  padding: 8rem 0;
}

/*
.markdown[class=".H1"] + .markdown[class=".H2"],
.markdown[class=".t2"] + .markdown[class=".t3"] {
  padding-top: 0;
}

.markdown[class=".H2"] + .markdown[class=".H3"],
.markdown[class=".t3"] + .markdown[class=".t4"] {
  padding-top: 0;
}

.markdown[class=".H2"] + .markdown[class=".H3"],
.markdown[class=".t3"] + .markdown[class=".t4"] {
  padding-top: 0;
} */

.markdown[class=".H1"] + .markdown[class=".H2"],
.markdown[class=".t2"] + .markdown[class=".t3"],
.markdown[class=".H2"] + .markdown[class=".H3"],
.markdown[class=".t3"] + .markdown[class=".t4"],
.markdown[class=".H2"] + .markdown[class=".H3"],
.markdown[class=".t3"] + .markdown[class=".t4"] {
  padding-top: 0;
}