.h1-large,
.t1 {
  font-size: 16rem;
  line-height: 20rem;
}

.h1,
.t2 {
  font-size: 12rem;
  line-height: 16rem;
}

.h2,
.t3 {
  font-size: 8rem;
  line-height: 12rem;
}

.h3,
.t4 {
  font-size: 6rem;
  line-height: 12rem;
}

.h4,
.t5 {
  font-size: 5rem;
  line-height: 6rem;
}

.p,
.t6 {
  font-size: 4rem;
  line-height: 6rem;
}

.label,
.t7,
.caption {
  font-size: 3rem;
  line-height: 6rem;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

// Measure
// “Anything from 45 to 75 characters is widely regarded as a satisfactory length
// of line for a single-column page… the 66-character line (counting both letters
// and spaces) is widely regarded as ideal. For multiple-column work, a better
// average is 40-50 characters.”

.measure-narrow {
  max-width: 80rem;
}
.measure {
  max-width: 120rem;
}
.measure-wide {
  max-width: 136rem;
}

@each $bp in $breakpoints {
  $suffix: get($bp, "suffix");
  $rule: get($bp, "rule");

  @media #{$rule} {
    .h1-large-#{$suffix},
    .t1-#{$suffix} {
      font-size: 16rem;
      line-height: 20rem;
    }

    .h1-#{$suffix},
    .t2-#{$suffix} {
      font-size: 12rem;
      line-height: 16rem;
    }

    .h2-#{$suffix},
    .t3-#{$suffix} {
      font-size: 8rem;
      line-height: 12rem;
    }

    .h3-#{$suffix},
    .t4-#{$suffix} {
      font-size: 6rem;
      line-height: 12rem;
    }

    .h4-#{$suffix},
    .t5-#{$suffix} {
      font-size: 5rem;
      line-height: 6rem;
    }

    .p-#{$suffix},
    .t6-#{$suffix} {
      font-size: 4rem;
      line-height: 6rem;
    }

    .label-#{$suffix},
    .t7-#{$suffix},
    .caption-#{$suffix} {
      font-size: 3rem;
      line-height: 6rem;
    }

    .truncate-#{$suffix} {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .indent-#{$suffix} {
      text-indent: 1em;
      margin-top: 0;
      margin-bottom: 0;
    }

    .measure-narrow-#{$suffix} {
      max-width: 80rem;
    }
    .measure-#{$suffix} {
      max-width: 120rem;
    }
    .measure-wide-#{$suffix} {
      max-width: 136rem;
    }
  }
}
