/*******************************************************************************
  Visibility
*******************************************************************************/

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.super-hidden {
  visibility: hidden;
  position: fixed;
  opacity: 0;
  top: -9999px;
  left: -99999px;
}

@each $bp in $breakpoints {
  $suffix: get($bp, "suffix");
  $rule: get($bp, "rule");

  @media #{$rule} {
    .visible-#{$suffix} {
      visibility: visible;
    }

    .hidden-#{$suffix} {
      visibility: hidden;
    }

    .super-hidden-#{$suffix} {
      visibility: hidden;
      position: fixed;
      opacity: 0;
      top: -9999px;
      left: -99999px;
    }
  }
}
