.ws-normal {
  white-space: normal;
}
.nowrap {
  white-space: nowrap;
}
.pre {
  white-space: pre;
}

@each $bp in $breakpoints {
  $suffix: get($bp, "suffix");
  $rule: get($bp, "rule");

  @media #{$rule} {
    .ws-normal-#{$suffix} {
      white-space: normal;
    }
    .nowrap-#{$suffix} {
      white-space: nowrap;
    }
    .pre-#{$suffix} {
      white-space: pre;
    }
  }
}
