@import "indigo.css";

.grid-splash {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 168px));
  grid-template-rows: minmax(140px, 288px);
  grid-gap: 32px;
}

.grid-two {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: minmax(140px, 288px); */
  grid-gap: 32px;
}
